body {
    text-align: center;
}

footer {
    font-style: italic;
}

img {
    height: 50%;
    width: 50%;
}

ol {
    list-style-position: outside;
    text-align: start;
    width: 45%;
    padding-left: 30%;
}

ul {
    text-align: start;
    list-style-type: circle;
    list-style-position: inside;
    width: 25%;
    padding-left: 40%;
}
